<div class="containeer">
    <p><%= user.name %>, <strong>welcome to leegolu</strong></p>
    <div>
        <input type="submit" class="btn btn-block btn-outline-primary" value="logout">
    </div>
</div>